.Map2container {
    width: 90%;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin: 60px 0;
}

.Map2text {
    font-size: 16px;
    text-align: center;
    color: white; /* 텍스트 기본 색상 */
}

.garo {
    background-color: #53F657;
    width: 70px;
    padding: 5px 0;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Block {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 120px;
}

.auditorium {
    width: 100px;
    background-color: #858585;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.src {
    width: 100px;
    background-color: #858585;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 30px;
}